body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
/* header styles */
.nav-section {
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logo-part {
  color: #2196f3;
}
.list {
  list-style: none;
}
.anchors {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.anchors:hover,
.anchors:focus {
  color: #2196f3;
}
.mailto,
.callto {
  color: #757575;
}

/* main section */
.main-box {
  background-color: #ffffff;
}
.main-box-section {
  background-color: #2f303a;
}
.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.order-buttom {
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
}
/* disription section */
.discription-section {
  margin-top: 94px;
}
.item-head {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.item-data {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* our-doing-section */
.our-doing-section {
  margin-top: 94px;
}
.our-doing-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}
.doing-pic {
  width: 370px;
  height: 294px;
}
/* our-team-section */
.our-team-section {
  margin-top: 94px;
  background-color: #f5f4fa;
}
.our-team-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}
.worker-full-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}
.worker-position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
/* footer-section */
.footer-section {
  margin-top: 94px;
  background-color: #2f303a;
}
.second-logo-part {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-mailto,
.footer-callto {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address:hover,
.address:focus {
  color: #2196f3;
}
.footer-callto:hover,
.footer-callto:focus {
  color: #2196f3;
}
.footer-mailto:hover,
.footer-mailto:focus {
  color: #2196f3;
}
/* portfolio-section-of-styles */
.main-box-portfolio {
  margin-top: 94px;
}
/* buttons-section */
.buttons {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  border: none;
}
.buttons:hover,
.buttons:focus {
  background-color: #2196f3;
  color: #ffffff;
}
/* products-section */
.product-picture {
  width: 370px;
  height: 294px;
}
.product-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.product-class {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
